{% block style %}
	<link rel="stylesheet" href="/assets/css/styleHeader.css">


{% endblock %}
<header class="header">
	<h1>
		<a href="/" class="logoAG">ARTGES</a>
	</h1>

	<nav class="headerBtn">
		<a href="/login" class="loginBtn">Se connecter</a>
		<a href="/register" class="registerBtn">Commencer gratuitement</a>
	</nav>
</header>
