{% block style %}<link rel="stylesheet" href="/assets/css/styleNavBar.css">
{% endblock %}

<aside class="sidebar">
	<div class="logo">
		<h1>ArtisanPro</h1>
		<p>gestion d’entreprise</p>
	</div>

	<nav class="menu">
		<ul>
			<li class="active">
				<a href="/artisans/dashboard">Tableau de bord</a>
			</li>
			<li>
				<a href="/artisan/construct">Chantier</a>
			</li>
			<li>
				<a href="/client/list">Client</a>
			</li>
			<li>
				<a href="/artisan/estimate">Devis</a>
			</li>
			<li>
				<a href="/artisan/bill">Facture</a></li>
			<li>
				<a href="/artisan/purchase">Achat</a>
			</li>
			<li>
				<a href="/artisan/planning">Planning</a>
			</li>


		</ul>
	</nav>
</aside>
