<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Dashboard - ArtisanPro</title>
		<link rel="stylesheet" href="/assets/css/styleNavBar.css">


	</head>
	<body>

		<aside class="sidebar">
			<div class="logo">
				<h1>ArtisanPro</h1>
				<p>gestion d’entreprise</p>
			</div>

			<nav class="menu">
				<ul>
					<li class="active" href="/artisans/dashboard"></li>
					Tableau de bord
				</li>
				<li href="/artisan/construct">Chantier</li>
				<li href="/client/list">Client</li>
				<li href="/artisan/estimate">Devis</li>
				<li href="/artisan/bill">Facture</li>
				<li href="/artisan/purchase">Achats</li>
				<li href="/artisan/planning">Planning</li>

			</ul>
		</nav>
	</body>
</html></aside></body></html>
