body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #1a1a1a;
}

/* FORM REGISTER*/
.container {
display: flex;
justify-content: center;

}
.register-card {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px;
    padding: 20px 40px;
    border-radius: 15px;
   border: 1px solid #e0e0e0;
}

.instruction {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #000;
}


.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;

}


input,
select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
    outline: none;
}

input::placeholder {
    color: #999;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.8;
}


select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    width: 50%;
}

/* =========================
   RESPONSIVE TABLET
   ========================= */
@media screen and (max-width: 768px) {

    .register-card {
        max-width: 100%;
        padding: 20px;
        margin: 15px;
        border-radius: 12px;
    }

    .instruction {
        text-align: center;
        font-size: 13px;
    }

    select {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 14px;
    }

    .button-container {
        justify-content: center;
    }
}


/* RESPONSIV */
@media screen and (max-width: 480px) {

    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    .register-card {
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
    }

    .instruction {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        font-size: 13px;
    }

    input,
    select {
        font-size: 16px;
        padding: 12px 15px;
    }

    button {
        width: 100%;
        font-size: 15px;
        padding: 14px;
    }
}