.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LOGO ARTGES */
.logoAG {
    text-decoration: none;
    color: #2563eb;
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 20px;

}

/* BOX DES BTNS */
.headerBtn {
    display: flex;
    gap: 12px;
    padding-right: 20px;
}

/* STYLES DES LIEN DE NAVIGATION */
.loginBtn,
.registerBtn {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

/* BTN LOGIN */
.loginBtn {
    color: #000;
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
}

.loginBtn:hover {
    background-color: #a9a9a9;
}

/* BTN INSCRIPTION */
.registerBtn {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.registerBtn:hover {
    background-color: #333;
}