{% extends "../layouts/base.twig" %}
{% extends "../partials/navBar.twig" %}

{% block main %}
	<section class="headGest">
		<h2>Facture</h2>
		<p>Créer et gérer vos factures</p>


		<div id="search">
			<label for="finder">Recherche :</label>
			<input type="text" name="searchContent" id="searchContent">
		</div>
		<div>
			<button>+ Nouvelle facture</button>
		</div>
	</section>
	<section>
		<article>
			<div>
				<p>
					{# {{variable du NOMCLIENT}} #}
				</p>
				<p>
					{# {{VARIABLE TITRE CHANTIER}} #}

				</p>
				<p>
					{# {{VARIABLE REF DU CHANTIER}} #}
				</p>
			</div>
			<div>
				<img src="" alt="previewBILL">
			</div>

			<div>
				<p>
					{# Créer le{{DATE CREATION FACTURE}} #}
				</p>
			</div>

		</article>


	</section>


{% endblock %}
