{% extends "../layouts/base.twig" %}


{% block main %}
	{% include "../partials/header.twig" %}

	{# INTRO #}
	<section>
		<h1>Gérer votre entreprise</h1>
		<h1>en toute simplicité</h1>
		<p>Fini les cahiers et les feuilles volantes ! ArtGes centralise la  gestion de vos clients,chantiers, planning et administratif en un seul  endroit. Plus de temps pour votre métier,moins pour la paperasse.</p>

		<button>Démarrer gratuitement</button>
		{# INTRO PRESENTATION #}
		<div>
			<img src="" alt="iconeClient">
			<h3>Base de données clients</h3>
			<p>Centralisez toutes les informations de vos clients</p>
		</div>


		<div>
			<img src="" alt="iconeConstruct">
			<h3>Gestion des chantiers</h3>
			<p>Suivez l'avancement de tous vos projets</p>
		</div>


		<div>
			<img src="" alt="iconePlanning">
			<h3>Planning intelligent</h3>
			<p>Organisez vos rendez-vous et interventions</p>
		</div>


		<div>
			<img src="" alt="iconeDoc">

			<h3>Devis et factures</h3>
			<p>Créez vos documents professionnels facilement</p>
		</div>


		<div>
			<img src="" alt="iconeCaddie">
			<h3>Suivi des achats</h3>
			<p>Gérez vos achats fournisseurs par chantier</p>

		</div>


	</section>

	{# CCM? #}
	<section>
		{# LES 3 ETAPES #}
		<h2>Comment ca marche ?</h2>
		<div>

			<img src="" alt="icone1">
			<h3>Inscrivez vous gratuitement</h3>
			<p>Créez votre compte en quelques secondes</p>

		</div>
		<div>

			<img src="" alt="icone2">
			<h3>Configurer votre entreprise</h3>
			<p>Ajoutez vos informations et votre logo</p>


		</div>
		<div>

			<img src="" alt="icone3">
			<h3>Commencer a gérer</h3>
			<p>Clients, chantiers, devis, factures... tout est à portée de main</p>


		</div>
		{# CCM DETAILS #}
		<article>
			<div>

				<img src="" alt="iconeDoc">
				<h3>Devis et factures</h3>
				<p>Créez des devis et factures professionnels en quelques clics</p>

			</div>
			<div>

				<img src="" alt="iconePlanning">
				<h3>Gestion des rendez-vous</h3>
				<p>Planifiez et suivez tous vos rendez-vous et interventions</p>


			</div>
			<div>

				<img src="" alt="iconeClient">
				<h3>Base de données clients</h3>
				<p>Toutes les informations de vos clients centralisées</p>


			</div>
			<div>

				<img src="" alt="iconeHammer">
				<h3>Suivi des chantiers</h3>
				<p>Gérez tous vos chantiers du devis à la facturation finale</p>


			</div>
			<div>

				<img src="" alt="iconeCaddie">
				<h3>Achats fournisseurs</h3>
				<p>Suivez vos dépenses et achats par chantier</p>


			</div>

		</article>

	</section>
	{# PLAN ECO #}
	<section>
		<h2>Choisissez votre formule</h2>
		<p>Commencez gratuitement, évoluez quand vous le souhaitez</p>
		{# FREE #}
		<article>
			<div>
				<p>Pour débuter</p>
			</div>

			<div>
				<h3>Gratuit</h3>
				<h3>0 €</h3>
				<p>/mois</p>
			</div>

			<div>
				<p>Parfait pour tester l'application et gérer quelques clients</p>
			</div>

			<div>
				<img src="" alt="agree">
				<p>devis limité</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>factures limité</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>calendrier basique</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>personnalisation des documents</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>10 clients maximum</p>
			</div>
			<div>
				<button>Commencer gratuitement</button>
			</div>

		</article>
		{# PREMIUM #}
		<article>
			<div>
				<p>recommandé</p>
			</div>

			<div>
				<p>Pour les professionnels</p>
			</div>

			<div>
				<h3>Premium</h3>
				<h3>9 €</h3>
				<p>/mois</p>
			</div>

			<div>
				<p>Pour les artisans qui veulent professionnaliser leur gestion</p>
			</div>

			<div>
				<img src="" alt="agree">

				<p>devis illimité</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>factures illimité</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>calendrier personnalisable</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>facture récurrente pour entretiens regulier</p>
			</div>
			<div>
				<img src="" alt="agree">

				<p>pas de limite de clients</p>
			</div>
			<div>
				<button>Essayer gratuitement</button>
			</div>

		</article>
	</section>
{% endblock %}
