{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/styleRegister.css">
{% endblock %}
{% block main %}
{% include "../partials/header.twig" %}

	<div class="container">
		<div class="register-card">
			<p class="instruction">Tous les champs sont obligatoires</p>
			{% if error %}
				<p>{{error}}</p>
			{% endif %}

			<form action="/register" method="POST">

				<div class="form-group">
					<label for="lastName">Nom</label>
					<input name="lastName" type="text" placeholder="Nom">
				</div>

				<div class="form-group">
					<label for="firstName">Prénom</label>
					<input name="firstName" type="text" placeholder="Prénom">
				</div>

				<div class="form-group">
					<label for="mail">Email</label>
					<input name="mail" type="email" placeholder="email">
				</div>

				<div class="form-group">
					<label>Telephone</label>
					<input name="phone" type="text" placeholder="telephone">
				</div>

				<div class="form-group">
					<label>Adresse</label>
					<input name="proAdress" type="text" placeholder="adresse">
				</div>

				<div class="form-group">
					<label>Code postal</label>
					<input name="postCode" type="text" placeholder="code postal">
				</div>

				<div class="form-group">
					<label>Ville</label>
					<input name="city" type="text" placeholder="ville">
				</div>

				<div class="form-group">
					<label>SIRET</label>
					<input name="siret" type="text" placeholder="SIRET">
				</div>

				<div class="form-group">
					<label>Raison social</label>
					<input name="socialReason" type="text" placeholder="raison social">
				</div>

				<div class="form-group">
					<label>Mot de passe</label>
					<input name="password" type="password" placeholder="mot de passe">
				</div>

				<div class="form-group">
					<label>Formule</label>
					<select>
						<option>Selectionnez</option>
					</select>
				</div>

				<div class="button-container">
					<button type="submit">Commencer gratuitement</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
